:root{
    --bg-color:#071838;
    --bg-button: linear-gradient(45deg, rgba(89,15,135,1) 0%, rgba(255,0,118,1) 100%);
    --text-color-white:#f9f9f9;
    --text-color-pink:#FF0076;
    --text-color-black: #0b0b0b;
    --bg-color-some-card:#142442;
  --c2: #590f87;
  --title-color: #02072e;
  --text-color: #666666;
  --border-color: #dddddd;
  --title-font: "Lexend", sans-serif;
  --body-font: "Roboto", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.comp2, .comp3, .comp4{
    padding: 4rem 5rem;
}

.comp2, .comp4{
    background-color: var(--bg-color-some-card);
}
.comp3{
    background-color: var(--bg-color);
}

#icon-sun{
    color: var(--text-color-pink);
    margin-right: 10px;
}
#icon-fire{
    color: yellow;
}
#icon-arrow-down{
    color: var(--text-color-pink);
}
#icon-start{
    color: var(--text-color-pink);
}
.seccion-card{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn-arrow{
    background-color: var(--bg-color-some-card);
    border: 1px solid var(--border-color);
    color: var(--text-color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: 0.3rem;
}
.cont-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.live-action{
    color: var(--text-color-white);
    font-family: var(--title-font);
    font-size: 220%;
}
.live-action2{
    color: var(--text-color-pink);
    font-family: var(--title-font);
    font-size: 220%;
}
/*Card config*/
.card-particular{
    margin-top: 1rem;
}
.card-img img{
    width: 100%;
    height: 50%;
    border-radius: 2rem 2rem 0px 0px;
}
.card-second-img{
    padding-left: 2rem;
}

.card-second-img img{
    margin-top: -2rem;
    margin-right: -1.6rem;
    width: 3rem;
    height: 3rem;
}
.card-title h2{
    margin-top: 10px;
    font-family: var(--title-font);
    font-size: 100%;
}

.container-card,.container-card2 {
    width: 100%;
    border-radius: 2rem 2rem 0px 0px;
}
.container-card{
    background-color: var(--bg-color);
}
.container-card2{
    background-color: var(--bg-color-some-card);
}
.container-end-card{
    background-color: var(--bg-color);
    border-top: 3px solid var(--bg-color-some-card);
}
.container-end-card2{
    background-color: var(--bg-color-some-card);
    border-top: 3px solid var(--bg-color);
}

.container-end-card,.container-end-card2 {
    border-radius: 0px 0px 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.card-title{
    color: var(--text-color-white);
}
.important-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--body-font);
    font-size: 80%;
}

.important-data h3{
    color: var(--text-color-pink);
    font-size: 100%;
}
.important-data p, .place-bid, .info-additional p {
    color: var(--text-color-white);
}
.card-title, .important-data{
    padding: 0px 2rem;
}
.place-bid{
    background-color: var(--bg-color);
}
.place-bid2{
    background-color: var(--bg-color-some-card);
}


.place-bid, .place-bid2{
    color: var(--text-color-white);
    width: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color-white);
    border-radius: 2rem;
}
.info-additional{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.info-additional2{
    color: var(--text-color-white);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#icon-heart{
    color: var(--text-color);
    margin-right: 2px;
}
.info-additional p, .info-additional2 p{
    font-family: var(--body-font);
    font-size: 80%;
}
.place-bid p, .place-bid2 p{
    margin-top: 10px;
    font-family: var(--body-font);
    font-size: 60%;
}
/*Card config comp3*/
.cont-btn-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cont-btn-1 button{
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: var(--bg-color-some-card);
    height: 40px;
    padding: 0.3rem 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 60px;
    font-family: var(--body-font);
    font-size: 80%;
}
.cont-btn-1 button p{
    margin-top: 14px;
}
.all{
    font-family: var(--body-font);
    font-size: 80%;
    background-color: var(--bg-color-some-card);
    color: var(--text-color-pink);
    border-radius: 20px;
    border: 2px solid var(--text-color-pink);
    padding: 0.3rem 1rem;
}

.btn-menu{
    background-color: var(--bg-color-some-card);
    border-radius: 20px;
    padding: 0.1rem 0.8rem;
    border: 2px solid var(--text-color-pink);
}
.item{
    display: flex;
    align-items: center;
}
.item a{
    padding: 0.3rem 1rem;
    font-family: var(--body-font);
    font-size: 80%;
    color: var(--text-color-white);
    display: flex;
    align-items: center;
}
.btn-final-nav{
    background: var(--bg-button);
    border-radius: 20px;
}
.container-date-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/*Card config comp4*/
.container-card-comp4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 2rem 2rem;
    background-color: var(--bg-color);
}
.container-sub-card{
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -3rem;
    width: 80%;
    border-radius: 1rem 1rem;
    background-color: var(--bg-color-some-card);
}

.comp4__card-second-img img{
    margin-top: -4.5rem;
    width: 4rem;
    height: 4rem;
}
.card-info-adittional{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#card-info-adittional__p-first{
    color: var(--text-color);
}
#card-info-adittional__p-second{
    color: var(--text-color-pink);
}
.revenant{
    padding: 1rem 1rem;
    color: var(--text-color);
    text-align: center;
}
.comp4 p{
    font-family: var(--body-font);
}
.comp4 h1{
    font-family: var(--title-font);
}
/** Hover**/
.comp4__card-second-img img:hover, .card-second-img img:hover{
    border-radius: 50%;
    box-shadow: 5px 5px 5px var(--text-color-white);
}


.container-card-comp4:hover, .container-card:hover,.container-end-card:hover, .container-card2:hover , .container-end-card2:hover {
    box-shadow: 5px 5px 5px var(--text-color-white);
}
.place-bid2:hover, .place-bid:hover, .btn-arrow:hover{
    background: var(--bg-button);
    box-shadow: 2px 2px 2px var(--text-color-white);
}

.place-bid2:hover, .place-bid:hover, .cont-btn-1 button:hover{
    background: var(--bg-button);
    color: var(--text-color-white);
}
.btn-final-nav_a:hover{
    color: var(--text-color-white);
}

/****************** cards top ccollections***********/
.col-lg-8{
    margin: 2rem;
    margin-left: 5rem;
}
.row-card{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 3rem;
}
.text{
    color:var(--text-color-white);
    font-family: var(--title-font);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 2rem;
}
.select{
    color: var(--text-color-pink);
    background-color: transparent;
    font-size: 36px;
    border: none;
    font-family: var(--title-font);
    margin-left: 1rem;
}
.select option{
    color: var(--title-color);
    font-size: 1.4rem;
}
option:hover{
    color: green;
}
.row{
    margin-top: 2rem;
    overflow: hidden;
}
.single-collection{
    max-width: 20rem;
    margin: 0.4rem;
    padding: 16px 23px;
    display: flex;
    justify-content: flex-start;
    background-color:#142442 ;
    border-radius: 1rem;
}
a{
    text-decoration: none;
    color: var(--text-color-white);
}
a:hover{
    color: var(--text-color-pink);
}
.collection-img{
    min-width: 18%;
    margin-right: 1px;
}
.collection-img>img{
    height: 3rem;
}
.bambooz{
    border-radius: 2rem;
}
.content>h5 {
    margin-left: 1rem;
    font-size: 1.1rem;
}
.content>span{
    margin-left: 1rem;
    font-size: 0.9rem;
}
/****************** cards create********************/
.col-12{
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.row-cards{
    margin: 5rem;
}
.row-create{
    margin-top: 2rem;
    padding: 2rem;
}
.color{
    background-color: #142442;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 19.5rem;
}
.text{
    font-size: 2.5rem;
    font-weight: 600;
}

.selling-process{
    margin-bottom: 1rem;
    padding: 45px 30px 40px;
    width: 100%;
    
}
.section-title, h5{
    font-family: var(--title-font);
    color: var(--text-color-white);
    text-align: center;
    font-weight: 700;
}
p{
    color: rgb(170, 170, 170);
    font-family: var(--body-font);
    font-weight: 600;
    line-height: 2;
}
.content5 p{
    text-align: center;
}